* {
    padding: 0;
    margin: 0;
    color: white;
    font-size: 16px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
}

body {
    background-color: #383737;
}

#firstContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 840px;
    background-image: url(../IMAGES/Картинки-главная/firstBlock/1.jpg);
}

#firstContainer > h1 {
    text-align: center;
    font-size: 64px;
}

#opportunitiesContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 3220px;
    gap: 80px;
}

#opportunitiesContainer > h2 {
    font-size: 64px;
    text-align: center;
}

#opportunities {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1360px;
}

.opportunitiesAll {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 26px;
    text-align: center;
    width: 600px;
    height: 745px;
    background-color: #026873;
    border-radius: 15px;
    padding: 0 60px;
}

.opportunitiesRight {
    transform: translateX(380px);
}

.opportunitiesLeft {
    transform: translateX(-380px);
}

.opportunitiesAll > button {
    margin-bottom: 25px;
}

.opportunitiesAll > h3 {
    margin: 22px 0;
    font-size: 24px;
    text-align: justify;
}

.opportunitiesAll > span {
    font-size: 24px;
    text-align: justify;
    height: 295px;
}

#about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 65px;
}

#about > h3 {
    margin: 25px 0;
}

#about > section {
    margin-bottom: 115px;
}

#aboutOne {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
    width: 1260px;
}

#aboutOne > p {
    background-color: #730202;
    border-top-left-radius: 75px;
    display: flex;
    justify-content: end;
    align-items: center;
    text-align: center;
    width: 410px;
    height: 295px;
}

#aboutOne > img {
    border-top-left-radius: 75px;
    border-top-right-radius: 75px;
    border-bottom-right-radius: 75px;
}

#aboutTwo {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    width: 1260px;
}

#aboutTwo > p {
    background-color: #730202;
    border-bottom-right-radius: 75px;
    display: flex;
    justify-content: end;
    align-items: center;
    text-align: center;
    width: 410px;
    height: 295px;
}

#aboutTwo > img {
    border-top-left-radius: 75px;
    border-bottom-left-radius: 75px;
    border-bottom-right-radius: 75px;
}

#newSongs {
    height: 1080px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 45px;
}

.newSongsBlock {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 1040px;
}

.newSongsBlock:first-child {
    gap: 150px
}

.newSongsBlock:last-child {
    gap: 60px;
}

#nsbArtFirst {
    display: flex;
    flex-direction: column;
    gap: 45px;
    width: 490px;
}

#nsbArtFirst > section > h3 {
    font-size: 40px;
    padding-bottom: 6px;
}

#nsbArtFirst > section > p {
    font-size: 32px;
    padding-top: 6px;
}

#nsbArtFirst > section:last-of-type {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.artSongs {
    display: flex;
    flex-direction: row;
    gap: 60px;
    height: 600px;
}

.artSongs > section:first-of-type {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.artSongs > section:last-of-type {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

#mailing {
    background-color: #012326;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 58px;
    border-radius: 50px;
    height: 182px;
    margin: 25px 330px;
    padding: 63px 50px;
}

#mailing > h3 {
    font-size: 24px;
}

#mailing > input {
    color: black;
    width: 522px;
    height: 55px;
    border-radius: 20px;
    text-align: center;
}

#popularAlbums {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px;
}

#popularAlbums > section {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    justify-content: center;
    align-items: center;
    gap: 60px;
    width: 1260px;
}

.cardPopularAlbum {
    width: 380px;
    height: 570px;
    border-radius: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.cardPopularAlbum > h4,
.cardPopularAlbum > span,
.cardPopularAlbum > p {
    font-size: 20px;
    margin: 10px 50px;
}

.cardPopularAlbum > img {
    margin: 0 50px;
}

.cardPopularAlbum > ol {
    font-size: 16px;
    margin: 0 64px;
    margin-top: 8px;
    text-align: start;
}

.cardPopularAlbum > ol > li {
    text-decoration: none;
}

#listeningСard {
    width: 380px;
    height: 570px;
    border-radius: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #070C73;
    color: white;
}

#titleListeningCard {
    font-size: 40px;
    padding: 32px 30px;
    margin-top: 120px;
}

#buttonListeningCard {
    margin: 0 30px;
    margin-bottom: 162px;
}

#iconLink {
    width: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 40px;
    padding: 30px;
}

.firstTypeCardPA {
    background-color: #026873;
}

.secondTypeCardPA {
    background-color: #070C73;
}