.btnBlue {
    color: #000;
    background-color: #fff;
    border: 2px solid #070C73;
    border-radius: 10px;
    box-shadow: 3px 3px #070C73;
    cursor: pointer;
}

.btnGreen {
    color: #000;
    background-color: #fff;
    border: 2px solid #026873;
    border-radius: 10px;
    box-shadow: 3px 3px #026873;
    cursor: pointer;
}

.btnDarkGreen {
    color: #000;
    background-color: #fff;
    border: 2px solid #012326;
    border-radius: 10px;
    box-shadow: 3px 3px #012326;
    cursor: pointer;
}

.btnWhiteOne {
    width: 270px;
    height: 72px;
    color: #000;
    background-color: #fff;
    cursor: pointer;
}

.btnWhiteTwo {
    width: 280px;
    height: 47px;
    color: #000;
    background-color: #fff;
    cursor: pointer;
}
